body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(18, 21, 41);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navContainer{
  margin-top: 10px;
  padding: 0;
}

.myPanel{
border-radius: 7px;
transition: .5s;
}


.p1{
  background-color: rgb(244, 65, 139);
}

.p2{
  background-color: rgb(203, 66, 244);
}

.p3{
  background-color: rgb(244, 137, 65);
}

.p4{
  background-color: rgb(244, 217, 65);
}
  
.myPanel h3{
font-size: 20px;padding: 5px;

  }

  .myPanel img{
    width:50px;
    margin-bottom: 10px;
  }

  .myPanel .spancounter{
    padding:5px;
    padding-bottom: 0px;
    font-size: 30px;
    color:white;
    
  }

  #stakeholdericon{
    width:90px;
  }

  .badge{
    background-color:rgb(244, 163, 65);
    border-radius: 4px;
    font-size: 15px;
    margin: 10px 10px 0px 0px;
    
    font-weight: bold;
  }

  .badge2{
    background-color:rgb(244, 163, 65);
    border-radius: 4px;
    font-size: 15px;
    padding:4px;
    color:white;
    font-weight: bold;
    
   
  }

  .badge3{
    background-color:rgb(172, 65, 244);
    border-radius: 4px;
    font-size: 15px;
    padding:4px;
    color:white;
    font-weight: bold;
    
   
  }
.logo{
  font-size: 20px;
  background-color: rgb(65, 244, 148);
  padding: 10px;
  margin: 10px 10px 0px 0px;
}

.mainDiv{
  background-color: white;
padding: 20px;
border-radius: 10px;
}


.navContainer a{
  color: white;
  text-decoration: none;
  transition: .5s;
}

.navContainer a:hover{
  color: red;
  background: red;
}

.navContainer a .myPanel:hover{
  color: black;
  background: #ccc;
}

.loadingImg{
  width: 100px;
  align-items: center;
  text-align: center;
  margin: 0px;
  margin-left:250px;
}

.countsDiv{
  margin:10px 10px 0px 0px;
  background-color: #ccc;
  border-bottom-left-radius: 10px;
  padding:10px;
  border-left-color: red;
  border-left:10px solid black;
}

.myList:hover {
  background-color: aquamarine;
  background-color: rgba(255, 108, 169, 0.822);
  border-left:5px solid rgba(228, 0, 95, 0.822);
  cursor: pointer;
}

.myList {
  min-width: 250px;
  max-width: 250px;
  overflow-wrap: break-word;
  grid-auto-flow: column;
  display: inline-block;
  background-color: rgba(240, 145, 184, 0.822);
  margin: 10px;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
 

}



#myListname{
  font-size: 20
}

.fa-plus-circle{
  color: red;
  font-size: 20
}